<html>
<head>
    <title>Create new organization</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="create_org.js"></script>
</head>
<body>


<h1>Create a profile here</h1>
<form id="create_profile" method="post">
    <label>Name:</label>
    <input type="text" name="name" id="name" required>

    <label for="Type">organization type:</label>
    <input type="text" name="type" id="type" required>

    <label for="description">description:</label>
    <input type="text" name="description" id="description" required>

    <input type="submit">
</form>


</body>
</html>