<html>
<head>
    <title>Create new organization</title>
</head>
<body>


<h1>Create an organization here</h1>
<form id="create_profile" enctype="multipart/form-data" method="post" action="/create_org">
    <label>Name:</label>
    <input type="text" name="name" required>

    <label for="Type">organization type:</label>
    <input type="text" name="type" required>

    <label for="description">description:</label>
    <input type="text" name="description" required>

    <label>Logo:</label>
    <input type="file" name="logo" accept="image/*" required>

    <br>
    <br>
    <br>

    <label>Officer 1 Name:</label>
    <input type="text" name="officer1name" required>

    <label>Officer 1 role:</label>
    <input type="text" name="officer1role" required>

    <label>officer 1 portrait:</label>
    <input type="file" name="officer1picture" accept="image/*" required>

    <br>

    <label>Officer 2 Name:</label>
    <input type="text" name="officer2name">

    <label>Officer 2 role:</label>
    <input type="text" name="officer2role">

    <label>officer 2 portrait:</label>
    <input type="file" name="officer2picture" accept="image/*">

    <br>

    <label>Officer 3 Name:</label>
    <input type="text" name="officer3name">

    <label>Officer 3 role:</label>
    <input type="text" name="officer3role">

    <label>officer 3 portrait:</label>
    <input type="file" name="officer3picture" accept="image/*">

    <br>

    <label>Officer 4 Name:</label>
    <input type="text" name="officer4name">

    <label>Officer 4 role:</label>
    <input type="text" name="officer4role">

    <label>officer 4 portrait:</label>
    <input type="file" name="officer4picture" accept="image/*">

    <br>
    <br>
    <br>

    <label>Contact 1 type</label>
    <input type="text" name="contact1type">
    <label>Contact 1 URL</label>
    <input type="text" name="contact1url">
    <label>Contact 1 name</label>
    <input type="text" name="contact1name">

    <br>

    <label>Contact 2 type</label>
    <input type="text" name="contact2type">
    <label>Contact 2 URL</label>
    <input type="text" name="contact2url">
    <label>Contact 2 name</label>
    <input type="text" name="contact2name">

    <br>

    <label>Contact 3 type</label>
    <input type="text" name="contact3type">
    <label>Contact 3 URL</label>
    <input type="text" name="contact3url">
    <label>Contact 3 name</label>
    <input type="text" name="contact3name">

    <input type="submit">


</form>


</body>
</html>