<html>
<head>
    <title>Create new organization</title>
</head>
<body>


<form enctype="multipart/form-data" method="post">
    <input type="file" name="images" accept="image/*" multiple>
    <input type="submit">
</form>


</body>