.ClubCardsGrid-Component {
    text-align: left;
    margin: 0 auto;
}

.ClubCardsGrid-Component ul {
    /* text-align: center; */
    /* list-style-type: none; */
    padding: 0;
}

.ClubCardsGrid-Component ul li {
    display: inline-block;
    margin: 1em;
}